body {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: red;
}

/*********** HEADER ************/

header {
    text-align: center;
    padding: 10px;
    background-color: #972822;
    color: white;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 45px;
    margin: 0;
}

/*********** LIST ************/
#registration-option {
    margin: 0 auto;
    width: 30%;
    padding-top: 100px;
    font-size: 20px;
    color: red;
}

#course-catalog {
  margin-left: 250px;
  width: 20%;
  margin-top: 30px;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 35px;
  color: white;
  background-color: #972822;
  border: 1px solid ##972822;
}

#search-result{
  margin-left: 800px;
  width: 20%;
  margin-top: -280px;
  padding: 20px;
  padding-right: 300px;
  padding-bottom: 50px;
  font-size: 35px;
  color: white;
  background-color: white;
  border: 1px solid ##972822;
}

#add-drop1 {
  padding: 2px;
  border-radius: 10px;
  margin-left: 450px;
  margin-top: -55px;
  color: white;
  background-color: red;
}

#learn-more1 {
  padding: 2px;
  border-radius: 10px;
  margin-left: 450px;
  margin-top: 10px;
  color: white;
  background-color: red;
  
}


#search {
  padding: 2px;
  border-radius: 10px;
  margin-left: 75px;
}

#waitlist {
  margin-left: 190px;
  width: 20%;
  margin-top: 15px;
  padding: 20px;
  padding-right: 250px;
  padding-bottom: 150px;
  font-size: 35px;
  color: white;
  background-color: white;
  border: 1px solid ##972822;
}

#drop {
  padding: 2px;
  border-radius: 10px;
  margin-top: -20px;
  margin-left: 475px;
  color: white;
  background-color: red;
}

#view-course {
  margin-left: 1000px;
  margin-top: -175px;
  color: white;
  background-color: #972822;
  font-size: 15px;
  width: 150px;
  
}

#academic-sched {
  margin-left: 1000px;
  color: white;
  background-color: #972822;
  font-size: 15px;
  width: 150px;
  margin-top: 20px;
  
}

button {
  display: block;
  width: 78px;
}


body h3 {
  margin-top: -10px;
  margin-right: -240px;
  font-size: 33px;
  color: black;
  
}

body h2 {
  font-size: 35px;
  margin-top: -10px;

}

body h4 {
  font-size: 30px;
  flex: 1;
 
}

body p {
  font-size: 15px;
  color: black;
}

.container {
    display: flex;
}

.rounded {
  border-radius: 30px;
}

.list {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

.list-title {
    margin-left: 20px;
}

.list a {
    color: red;
    text-decoration: none;
}


header a {
    color: white;
    text-decoration: none; 
}


