body {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: red;
}

/*********** HEADER ************/

header {
    text-align: center;
    padding: 10px;
    background-color: #972822;
    color: white;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 45px;
    margin: 0;
}

/*********** Course Registration ************/

.course-reg-page {
  display: grid;
  column-gap: 10px;
}

.rounded {
  border-radius: 30px;
}

.center {
  text-align: center;
}

.catalog-shift {
  margin-left: 10px;
}

#search-input {
  position: relative;
  top: -30px;
}

#search {
  position: relative;
  padding: 2px;
  margin-left: 85px;
  top: -25px;
}


#catalog-search{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 250px 50px;
  width: 30%;
  padding: 20px 0px;
  font-size: 25px;
  color: white;
  background-color: #972822;

}

#search-result{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 100px 120px;
  margin-left: 400px;
  width: 75%;
  padding: -10px 75px;
  padding-left: -100px;
  background-color: white;
  color: black;
}

#detail-page {
  margin: 75px 20px;
  padding: 250px 75px;
  background-color: white;
}

#searched-course-ID{
  margin: 15px 20px;
}

#searched-course-name {
  margin: 20px 20px;
}

#searched-course-section {
  margin: 25px 20px;
}

#searched-course-info {
  margin: 30px 20px;
}

#detail-course-ID{
  margin: -200px 10px;
  color: black;
}

#detail-course-name {
  margin: 20px 20px;
  color: black;
}

#detail-course-section {
  margin: 25px 20px;
  color: black;
}

#detail-extra-info {
  margin: 30px 20px;
  color: black;
}

#addClass {
  margin-left: 400px;
  margin-top: -145px;
  color: white;
  background-color: red;
  display: none;
}

#dropClass {
  margin-left: 400px;
  margin-top: 10px;
  color: white;
  background-color: red;
  display: none;
}

#learnMore{
  padding: 2px;
  margin-left: 550px;
  margin-top: 10px;
  color: white;
  background-color: red;
  display: none;
}

#regCourses{
  font-size: 15px;
  width: 40%;
  background-color: #972822;
  color: white;
  margin: 0px 20px;
}




#view-course {
  margin-left: 1000px;
  margin-top: -175px;
  color: white;
  background-color: #972822;
  font-size: 15px;
  width: 150px;

}


button {
  display: block;
  width: 78px;
}



body h2 {
  font-size: 35px;
  margin-top: -10px;

}

body h4 {
  font-size: 30px;
  flex: 1;

}


.container {
    display: flex;
}


.list {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

.list-title {
    margin-left: 20px;
}

.list a {
    color: red;
    text-decoration: none;
}


header a {
    color: white;
    text-decoration: none;
}
